body{
    background-color: rgba(7, 156, 255, 0.5);
    color:rgb(13, 7, 7)
}

.container{
    width: 70vw;
    height: 100vh;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

input, button{
    margin: 1rem 0rem;
    line-height: 1.8rem;
}

.contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
}

button{
    background-color: greenyellow;
}

.contacto p{
    flex: 8;
}

.contacto span{
    flex:1;
    color: tomato;
    cursor: pointer;
}